
.recipe-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.recipe-card button {
    margin-top: 8px;
    margin-left: 6px;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100px;
    
}
.recipe-card button:hover {
    background-color: #218838;
}
.recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.recipe-cards {
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px;
    padding: 16px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: whitesmoke;
    text-align: center;
}

.recipe-cards:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe-cards img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}