
body{
    background-color: pink;
}

.cards{
    border: 2px solid black;
    height: 300px;
    width: 300px;
   border-radius: 10px; 
    text-align: center;
    background-color: #7fffd4;
    margin-bottom: 23px;
    border: none;
}
.grids{
    display: grid;
    grid-template-columns: auto auto auto auto;
}