.squareven{
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 10px;
    text-align: center;
    
}
.squareodd{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin-bottom: 20px;
    
    text-align: center;

    
}
.squaremiddle{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-bottom: 20px;
    
    text-align: center;

    
}